cola-framework/cola-test/src/main/resources/META-INF/cola-mock.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns="http://repo.alibaba-inc.com/schema/cola"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://repo.alibaba-inc.com/schema/cola"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans" />
    <xsd:element name="cola-mock">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="mock" type="filterType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[
        Controls which eligible types to exclude for component scanning.
                            ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="base-package" type="xsd:string"
                           use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
	The comma/semicolon/space/tab/linefeed-separated list of packages to scan for annotated components.
					]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="filterType">
        <xsd:attribute name="type" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
    Controls the type of filtering to apply to the expression.

    "annotation" indicates an annotation to be present at the type level in target components;
    "assignable" indicates a class (or interface) that the target components are assignable to (extend/implement);
    "regex" indicates a regex pattern to be matched by the target components' class names;

    Note: This attribute will not be inherited by child bean definitions.
    Hence, it needs to be specified per concrete bean definition.
                ]]></xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="annotation"/>
                    <xsd:enumeration value="assignable"/>
                    <xsd:enumeration value="regex"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="expression" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
    Indicates the filter expression, the type of which is indicated by "type".
                ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>


</xsd:schema>